.container{
    /* background-color: red; */
 display: flex; 

 min-height: 90vh;
}

.form{
   display: flex;
   align-items: center;
   justify-content: center;
  
   min-height: 100%;
    width: 47%;
   
}
.graph{
   display: flex;
   align-items: center;
   justify-content: center;
  
   min-height: 100%;
    width: 51%;
}